@import './src/scss/variables';

.blog-post-wrapper {
	.blog-post {
		padding: 2rem;
		margin: 2rem auto 0 auto;
		width: 90%;
		max-width: 800px;
		background-color: #1f364d;
		box-sizing: border-box;
		@include mobile-only {
			background-color: #0e2439;
			padding: 1rem;
			margin: 0;
			width: unset;
		}

		h1 {
			margin: 0;
			@include mobile-only {
				font-size: 22px;
			}
		}

		.blog-post-content {
			p {
				line-height: 1.6;
			}
		}
	}
}
