@import './src/scss/variables';

.blog-post-wrapper {
	.blog-post {
		padding: 2rem;
		margin: 2rem auto 0 auto;
		width: 90%;
		max-width: 800px;
		background-color: #1f364d;
		box-sizing: border-box;

		@include mobile-only {
			padding: 1rem;
			margin: 0.5rem;
			width: unset;
        }
        
		h1 {
			margin: 0;
			@include mobile-only {
				font-size: 22px;
			}
        }
        
		.blog-post-content {
            
		}
	}
}
