@import "./src/scss/variables";

.header-wrapper {
    background: #1f364d;

    .header-content {
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .header-links {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: #9cb3c9;
            margin-left: 1rem;
            text-decoration: none;
            @include mobile-and-tablet-only {
                svg {
                    font-size: 1.2rem;
                } 

                font-size: 0;
            }

            &.active {
                color: #f2f5f8;
            }

            &:hover {
                color: #f2f5f8;
            }

            svg {
                vertical-align: middle;
            }
        }
    }
    
    .header-title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #9cb3c9;
        text-decoration: none;
        margin: 0 1rem 0 0;
        font-size: 1.17em;
        
        @include mobile-and-tablet-only {
            font-size: 0;
        }

        &:hover {
            color: #f2f5f8;
        }

        &.active {
            color: #f2f5f8;
        }
    
        .header-avatar {
            margin: 0 1rem 0 0;
            background: center / contain no-repeat url("../../images/avatar-formal-thumbnail.png");
            height: 35px;
            width: 35px;
        }
    }
}

