/* Layout #region */
.layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;
  padding: 1rem;
  min-height: calc(100vh - 98px);
}
/* #endregion */

/* Particles #region */
.particles {
  position: absolute;
  width: 100%;
  height: calc(100% - 98px);
}
/* #endregion */


