@import './src/scss/variables';

.privacy-policy-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.privacy-policy {
		padding: 2rem;
		margin: 2rem auto 0 auto;
		width: 90%;
		max-width: 800px;
		background-color: #1f364d;
		box-sizing: border-box;

		@include mobile-only {
			padding: 1rem;
			margin: 0.5rem;
			width: unset;
        }
        
		h1 {
			margin: 0;
			@include mobile-only {
				font-size: 22px;
			}
        }
        
		.privacy-policy-content {
            p {
				line-height: 1.6;
			}
		}
	}
}
