.contact-form {
  margin: 0 auto;
  width: 95%;
  max-width: 600px;
  z-index: 1;

  .form-field-label {
    font-weight: 600;
    text-transform: uppercase;
  }

  .form-input {
    background-color: #1f364d;
    color: #dde1e4;
    border-radius: 3px;
    padding: 0.75rem;
    text-overflow: ellipsis;
    -webkit-transition: border-width 120ms;
    transition: border-width 120ms;
    width: 100%;
    border: 1px solid #0e2439;
    margin: 0.5rem 0 1.5rem 0;
    outline: 0;
    resize: none;
    box-sizing: border-box;

    &:focus {
      border-left: 4px solid #3ec7e0;
    }

    &::placeholder {
      color: #9cb3c9;
      opacity: 1;
    }
  }

  .form-button {
    display: flex;
    justify-content: center;
  }
}
