.contact-form {
  padding: 1rem 0;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;

  h1 {
    text-align: center;
  }

  .form-field-label {
    font-weight: 600;
    text-transform: uppercase;
  }

  .form-input {
    background-color: #1f364d;
    color: #dde1e4;
    border: 1px solid #0e2439;
    border-radius: 3px;
    padding: 1rem;
    margin: 0.5rem 0 1.5rem 0;
    text-overflow: ellipsis;
    width: 100%;
    outline: 0;
    resize: none;
    box-sizing: border-box;
    font-size: 1rem;

    &:focus {
      border-left: 4px solid #3ec7e0;
    }

    &::placeholder {
      color: #9cb3c9;
      opacity: 1;
    }
  }

  .form-button {
    display: flex;
    justify-content: center;
  }
}
