@import "./src/scss/variables";

.portfolio-wrapper {
  .portfolio-content {
    padding: 2rem;
		margin: 2rem auto 0 auto;
		width: 90%;
		max-width: 600px;
		background-color: #1f364d;
    box-sizing: border-box;
    @include mobile-only {
		  margin: 1rem auto 0 auto;
      padding: 1rem;
    }
  }
}
