.portfolio-wrapper {
        background-color: #1f364d;
        padding: 1.45rem;
        margin: auto 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
}