.header-wrapper {
    background: #1f364d;
    margin-bottom: '1.5rem';

    .header-content {
        margin: 0 auto;
        max-width: 960px;
        padding: 1rem 1.45rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .header-links {
        font-size: 1.25rem;
        display: flex;
        align-items: center;
    
        a {
            margin-left: 1rem;
        }
    }
    
    .header-title {
        display: flex;
        color: #ffffff;
    
        .header-avatar {
            margin: 0;
            background: center / contain no-repeat url("../images/avatar-round.png");
            height: 35px;
            width: 35px;

            &:hover{
                background: center / contain no-repeat url("../images/avatar-casual-round.png");
            }
        }
    
        h3 {
            margin: 2px 1rem 0 1rem;

            &:hover {
                color: #9cb3c9;
            }
        }
    }
}

