html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-color: #0e2439;
  color: #ffffff;
}

a {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;

  &:active,
  &:hover {
    color: #9cb3c9;
  }

  &.default-button {
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem 1.25rem;

    &:hover {
      color: #fff;
    }
  }
}