.blog-post-wrapper {
    padding: 0 2rem 2rem 2rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 600px;
    background-color: #1f364d;
    box-sizing: border-box;

    .blog-post {
        .blog-post-content {

        }
    }
}